
.dynamic-content {
    display:none;
}

.aqhi_banner {
margin-top: 15px;
/* font-size: 1.25em; */
}

    #chart {
    
}

.aqhiScale {
background-color: white;
}

#IE11notice {
    display: none;
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #IE11notice {
    display:block;
}
}
    

